packages/
Testing.Evolved.SampleProject.SpecFlowTests/bin/
Testing.Evolved.SampleProject.SpecFlowTests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Testing.Evolved.SampleProject.SpecFlowTests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Testing.Evolved.SampleProject.SpecFlowTests/obj/
Testing.Evolved.SampleProject/obj/
Testing.Evolved.SpecFlow/bin/
Testing.Evolved.SpecFlow/obj/
Testing.Evolved.Unit/obj/
